/*reset*/
{
body font-family: times;
background-color: blue;
}

form {
 display: table;
 margin: auto;
}
form div {
 display: table-row;
}
form label, form input {
 display: table-cell;
 margin-bottom: 25px;
}
form label {
 width: 50px;
 padding-right: 0%;
 text-align: right;
}
form input {
 width: 300px;

}
form p {
 display: table-caption;
 caption-side: bottom;
 width: 300px;
 color: #999;
 font-style: italic;
}
